<!DOCTYPE html>
<html>
  <style>
      .mainButton {
        background-color: #4c65af;
        border: none;
        color: white !important;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        cursor: pointer;
        border-radius: 5px;
      }
      .mainButton:hover {
        background-color: #3b4f8a;
      }
      .buttonWrapper {
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
      }
    </style>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenue sur Ma Ville Accessible</title>
  </head>
  <body style="text-justify:center;">
    <h1>Bienvenue ! 🎉</h1>
    <p>Il ne vous reste plus qu'à valider votre adresse email, pour ce-faire veuillez cliquer sur le lien suivant:</p>
    <div class="buttonWrapper">
      <a class="mainButton" href="{{url}}">Valider mon email</a>
    </div>
  </body>
</html>