<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenue sur Ma Ville Accessible</title>
  </head>
  <body style="text-justify:center;">
    <h1>Cliquez sur le bouton ci-dessous pour changer votre mot de passe</h1>
    <a href="{{url}}">Cliquez ici</a>
  </body>
</html>